@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

h1 {
    font-size: 50px;
    font-family: "Open Sans";
    padding: 50px;
    margin: 10px;
    font-weight: bold;
    text-decoration: underline;
    color: red;
    background-color: grey;
}

h2 {
    font-size: ;
    font-family: ;
    padding: ;
    margin: ;
    font-weight: ;
    color: ;
    background-color: ;
}

p {
    font-family: ;
    font-size: ;
    padding: ;
    margin: ;
    color: ;
    background-color: ;
}

.logo {
    background-size: cover;
    background-image: url("https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png");
    background-color: red;
    height: 75px;
    width: 75px;
}
